<a href="https://colab.research.google.com/github/Yuta-Toramoto/remote/blob/main/practice_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

■方針
①input1, input2を読み込む。②それぞれ重複を削除する③inut2における１４式竹筒銃についてcategoryの甲をitem_nameに追記したのちに削除、それぞれ左に詰める
④input1, input2を結合する
⑤unit*meanの値を用いて新たにsales列を作成する。

In [1]:
import pandas as pd
import numpy as np
from google.colab import files

In [64]:
##input1のcsvをインポート
uploaded = files.upload()

Saving input1.csv to input1 (1).csv
Saving input2.csv to input2 (1).csv
Saving output.csv to output (1).csv

In [65]:
import io

input1 = pd.read_csv(io.BytesIO(uploaded['input1.csv']))
input1

          ymd  item_code  item_name category  unit  mean
0  2022/12/12          1   わかばシューター    シューター    10   123
1  2022/12/12          1   わかばシューター    シューター    10   123
2  2022/12/13          2   スプラシューター    シューター    12   100
3  2022/12/14          3    スプラローラー     ローラー    14   150
4  2022/12/15          4  スプラマニューバー   マニューバー     5   100
5  2022/12/15          5  デュアルスイーパー   マニューバー     5   100

列名に空白があったため名前指定してdfを作成。その後１行目（元のheaderを削除した）

In [66]:
input2_pre = pd.read_csv(io.BytesIO(uploaded['input2.csv']), names = ("ymd", "item_code", "item_name", "category", "unit", "mean", "dummy"))
input2 = input2_pre.drop(0, axis=0)
input2

          ymd item_code    item_name category    unit mean  dummy
1  2022/12/12      0006    スプラチャージャー   チャージャー      10  123    NaN
2  2022/12/13      0007  スクイックリンアルファ   チャージャー      12  100    NaN
3  2022/12/14      0008       14式竹筒銃        甲  チャージャー   14  150.0
4  2022/12/15      0009   バケットスロッシャー   スロッシャー       5  100    NaN
5  2022/12/15      0010         ヒッセン   スロッシャー       5  100    NaN

それぞれ重複を削除

In [67]:
input1_dd = input1[~input1.duplicated()]
input1_dd

          ymd  item_code  item_name category  unit  mean
0  2022/12/12          1   わかばシューター    シューター    10   123
2  2022/12/13          2   スプラシューター    シューター    12   100
3  2022/12/14          3    スプラローラー     ローラー    14   150
4  2022/12/15          4  スプラマニューバー   マニューバー     5   100
5  2022/12/15          5  デュアルスイーパー   マニューバー     5   100

In [68]:
input2_dd = input2[~input2.duplicated()]
input2_dd

          ymd item_code    item_name category    unit mean  dummy
1  2022/12/12      0006    スプラチャージャー   チャージャー      10  123    NaN
2  2022/12/13      0007  スクイックリンアルファ   チャージャー      12  100    NaN
3  2022/12/14      0008       14式竹筒銃        甲  チャージャー   14  150.0
4  2022/12/15      0009   バケットスロッシャー   スロッシャー       5  100    NaN
5  2022/12/15      0010         ヒッセン   スロッシャー       5  100    NaN

*③inut2における１４式竹筒銃についてcategoryの甲をitem_nameに追記したのちに削除、それぞれ左に詰める*

In [69]:
##input2_ddから編集したい行を抽出
input2_edit1 = input2_dd[2:3]
input2_edit1

          ymd item_code item_name category    unit mean  dummy
3  2022/12/14      0008    14式竹筒銃        甲  チャージャー   14  150.0

In [70]:
##該当箇所を修正
input2_edit1.loc[3, "item_name"] = "14式竹筒銃甲"
input2_edit1.loc[3, "category"] = "チャージャー"
input2_edit1.loc[3, "unit"] = 14
input2_edit1.loc[3, "mean"] = 150.0
input2_edit1.loc[3, "dummy"] = np.NaN
input2_edit1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

          ymd item_code item_name category unit   mean  dummy
3  2022/12/14      0008   14式竹筒銃甲   チャージャー   14  150.0    NaN

In [71]:
##input2同士を結合して変更箇所を削除,'item_code', 'unit', 'mean'のデータ型をintに変換
input2_merged = pd.concat([input2_dd, input2_edit1], ignore_index= True)
input2_merged = input2_merged.drop(input2_merged.index[[2]])
input2_merged = input2_merged.drop("dummy", axis=1)
input2_merged['item_code'] = input2_merged['item_code'].astype('int')
input2_merged['unit'] = input2_merged['unit'].astype('int')
input2_merged['mean'] = input2_merged['mean'].astype('int')
input2_merged = input2_merged.sort_values(by='item_code', ascending=True)
input2_merged

          ymd  item_code    item_name category  unit  mean
0  2022/12/12          6    スプラチャージャー   チャージャー    10   123
1  2022/12/13          7  スクイックリンアルファ   チャージャー    12   100
5  2022/12/14          8      14式竹筒銃甲   チャージャー    14   150
3  2022/12/15          9   バケットスロッシャー   スロッシャー     5   100
4  2022/12/15         10         ヒッセン   スロッシャー     5   100

In [101]:
##加工後のinput1のデータとinput2のデータそれぞれを統合する
output_pre = pd.concat([input1_dd, input2_merged], ignore_index=True)
output_pre

          ymd  item_code    item_name category  unit  mean
0  2022/12/12          1     わかばシューター    シューター    10   123
1  2022/12/13          2     スプラシューター    シューター    12   100
2  2022/12/14          3      スプラローラー     ローラー    14   150
3  2022/12/15          4    スプラマニューバー   マニューバー     5   100
4  2022/12/15          5    デュアルスイーパー   マニューバー     5   100
5  2022/12/12          6    スプラチャージャー   チャージャー    10   123
6  2022/12/13          7  スクイックリンアルファ   チャージャー    12   100
7  2022/12/14          8      14式竹筒銃甲   チャージャー    14   150
8  2022/12/15          9   バケットスロッシャー   スロッシャー     5   100
9  2022/12/15         10         ヒッセン   スロッシャー     5   100

In [102]:
##sales列を追加
output_pre['sales'] = output_pre['unit']*output_pre['mean']
output_pre

          ymd  item_code    item_name category  unit  mean  sales
0  2022/12/12          1     わかばシューター    シューター    10   123   1230
1  2022/12/13          2     スプラシューター    シューター    12   100   1200
2  2022/12/14          3      スプラローラー     ローラー    14   150   2100
3  2022/12/15          4    スプラマニューバー   マニューバー     5   100    500
4  2022/12/15          5    デュアルスイーパー   マニューバー     5   100    500
5  2022/12/12          6    スプラチャージャー   チャージャー    10   123   1230
6  2022/12/13          7  スクイックリンアルファ   チャージャー    12   100   1200
7  2022/12/14          8      14式竹筒銃甲   チャージャー    14   150   2100
8  2022/12/15          9   バケットスロッシャー   スロッシャー     5   100    500
9  2022/12/15         10         ヒッセン   スロッシャー     5   100    500

In [104]:
##ymdの表記の変更
output_pre['ymd'] = output_pre['ymd'].str.replace('/', '')
output_pre

        ymd  item_code    item_name category  unit  mean  sales
0  20221212          1     わかばシューター    シューター    10   123   1230
1  20221213          2     スプラシューター    シューター    12   100   1200
2  20221214          3      スプラローラー     ローラー    14   150   2100
3  20221215          4    スプラマニューバー   マニューバー     5   100    500
4  20221215          5    デュアルスイーパー   マニューバー     5   100    500
5  20221212          6    スプラチャージャー   チャージャー    10   123   1230
6  20221213          7  スクイックリンアルファ   チャージャー    12   100   1200
7  20221214          8      14式竹筒銃甲   チャージャー    14   150   2100
8  20221215          9   バケットスロッシャー   スロッシャー     5   100    500
9  20221215         10         ヒッセン   スロッシャー     5   100    500

In [109]:
#各列のデータ型を調整
output_pre['ymd'] = output_pre['ymd'].astype('int')
output_pre['sales'] = output_pre['sales'].astype('float')
output_pre

        ymd  item_code    item_name category  unit  mean   sales
0  20221212          1     わかばシューター    シューター    10   123  1230.0
1  20221213          2     スプラシューター    シューター    12   100  1200.0
2  20221214          3      スプラローラー     ローラー    14   150  2100.0
3  20221215          4    スプラマニューバー   マニューバー     5   100   500.0
4  20221215          5    デュアルスイーパー   マニューバー     5   100   500.0
5  20221212          6    スプラチャージャー   チャージャー    10   123  1230.0
6  20221213          7  スクイックリンアルファ   チャージャー    12   100  1200.0
7  20221214          8      14式竹筒銃甲   チャージャー    14   150  2100.0
8  20221215          9   バケットスロッシャー   スロッシャー     5   100   500.0
9  20221215         10         ヒッセン   スロッシャー     5   100   500.0

In [111]:
#最終output(下にoutput.csvのデータフレームを記載)※index8のsalesがNaNですが今回はデータ埋めを行いました。
output = output_pre
output

        ymd  item_code    item_name category  unit  mean   sales
0  20221212          1     わかばシューター    シューター    10   123  1230.0
1  20221213          2     スプラシューター    シューター    12   100  1200.0
2  20221214          3      スプラローラー     ローラー    14   150  2100.0
3  20221215          4    スプラマニューバー   マニューバー     5   100   500.0
4  20221215          5    デュアルスイーパー   マニューバー     5   100   500.0
5  20221212          6    スプラチャージャー   チャージャー    10   123  1230.0
6  20221213          7  スクイックリンアルファ   チャージャー    12   100  1200.0
7  20221214          8      14式竹筒銃甲   チャージャー    14   150  2100.0
8  20221215          9   バケットスロッシャー   スロッシャー     5   100   500.0
9  20221215         10         ヒッセン   スロッシャー     5   100   500.0

In [110]:
# output_answer = pd.read_csv(io.BytesIO(uploaded['output.csv']))
# output_answer

        ymd  item_code    item_name category  unit  mean   sales
0  20221212          1     わかばシューター    シューター    10   123  1230.0
1  20221213          2     スプラシューター    シューター    12   100  1200.0
2  20221214          3      スプラローラー     ローラー    14   150  2100.0
3  20221215          4    スプラマニューバー   マニューバー     5   100   500.0
4  20221215          5    デュアルスイーパー   マニューバー     5   100   500.0
5  20221212          6    スプラチャージャー   チャージャー    10   123  1230.0
6  20221213          7  スクイックリンアルファ   チャージャー    12   100  1200.0
7  20221214          8      14式竹筒銃甲   チャージャー    14   150  2100.0
8  20221215          9   バケットスロッシャー   スロッシャー     5   100     NaN
9  20221215         10         ヒッセン   スロッシャー     5   100   500.0